RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !index
RewriteRule ^ index.php [L]

RewriteRule ^xur/?$ index.php [L,NC]
RewriteRule ^database/?$ index.php [L,NC]
RewriteRule ^checklists/?$ index.php [L,NC]
RewriteRule ^developers/?$ index.php [L,NC]
RewriteRule ^guides/?$ index.php [L,NC]
RewriteRule ^clan/?$ index.php [L,NC]