RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !index
RewriteRule ^ index.php [L]

RewriteRule ^progression/?$ index.php [L,NC]
RewriteRule ^checklists/?$ index.php [L,NC]
RewriteRule ^xur/?$ index.php [L,NC]
RewriteRule ^creators/?$ index.php [L,NC]
