
/* header ul {
  position: absolute;
  left: calc(((100vw / 3) * 2) + 1rem);
} */

header h1 a {
  color: rgba(var(--light), 1);
}

.featured {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc((100vw / 3) * 2);
}

.featured .image {
  background-size: cover;
  filter: brightness(0.7);
}

.featured .text {
  position: absolute;
  left: 5rem;
  bottom: 2rem;
  color: rgba(var(--light), 1);
}

.featured .text h2 {
  position: relative;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 1rem;
}

.featured .text > p {
  margin: 0;
  width: 30vw;
  font-style: italic;
}

.featured .challenges {
  flex-flow: row wrap;
  padding: 2rem 0 0;
}

.featured .challenges::before {
  content: "Challenges";
  margin: 0 0 1rem;
  display: inline-block;
  color: rgba(var(--cream), 1);
}

.featured .challenges li {
  flex-basis: 100%;
  margin: 0 0 1rem 2.4rem;
  position: relative;
}

.featured .challenges li:last-child {
  margin-bottom: 0;
}

.featured .challenges li::before {
  content: "\2022";
  position: absolute;
  top: 0;
  left: -1.6rem;
  line-height: 1.4;
}

.featured .challenges li p {
  margin: 0 0 0.4rem;
  color: rgba(var(--dark), 0.6);
}

.featured .challenges li p:first-child {
  color: rgba(var(--dark), 1);
}

.featured .challenges li p:last-child {
  margin: 0;
}

.summary {
  position: absolute;
  top: 0;
  left: calc((100vw / 3) * 2);
  width: calc(100vw / 3);
  min-height: 100vh;
  color: rgba(var(--dark), 1);
}

.summary .header {
  padding: 7rem 5rem 2.2rem 3rem;
  background-color: rgba(var(--dark), 0.1);
}

.summary .header p {
  margin: 0 0 0.4rem;
  font-size: 0.8rem;
}

.summary .header p:first-child {
  font-size: 1rem;
  font-weight: 400;
}

.summary .header p:last-child {
  margin: 0;
}

.summary > ul {
  padding: 2rem 5rem 2rem 3rem;
}

.summary ul li ul {
  display: flex;
  padding: 1rem 0 0.75rem;
}

.summary ul li ul li {
  flex-basis: calc(100% - 4rem);
}

.summary ul li ul li:first-child {
  flex-basis: 4rem;
}

.summary > ul > li > ul > li:first-child {
  font-size: 2.5rem;
}

.summary ul li ul li .icon {
  position: relative;
  width: 3rem;
  height: 3rem;
}

.summary ul li ul li p {
  margin: 0 0 0.4rem;
  font-size: 0.8rem;
  color: rgba(var(--dark), 0.6);
}

.summary ul li ul li p:first-child {
  color: rgba(var(--dark), 1);
}

.summary ul li ul li p:last-child {
  margin: 0;
}

.summary ul li ul li .detail {
  padding: 1rem 0 0;
  margin: 0.8rem 0;
  background-color: rgba(var(--dark), 0.05);
  position: relative;
}

.summary ul li ul li .detail p {
  margin: 0 1rem 0.4rem;
}

.summary ul li ul li .detail p:last-child {
  margin: 0 1rem 0;
}

.summary ul li ul li .detail .image {
  position: relative;
  width: 100%;
  padding-bottom: 56%;
  background-size: cover;
  margin: 1rem 0 0;
}

.summary ul li ul li .reward {
  display: flex;
  align-items: center;
  margin: 0.8rem 0 0;
  color: #4a824e;
  font-weight: 500;
  display: none;
}

.summary ul li ul li .reward.powerful_engram {
  color: #b76cc4;
}

.summary ul li ul li .reward .image {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: 0 0.6rem 0 0;
}

.summary ul li ul li .challenges {
  flex-flow: row wrap;
  padding: 1rem 0 0;
}

.summary ul li ul li .challenges::before {
  /* content: "Challenges"; */
  margin: 0 0 1rem;
  display: inline-block;
  font-size: 0.8rem;
}

.summary ul li ul li .challenges li {
  flex-basis: 100%;
  margin: 0 0 1rem 2.4rem;
  position: relative;
}

.summary ul li ul li .challenges li::before {
  content: "\2022";
  position: absolute;
  top: 0;
  left: -1.6rem;
  line-height: 1.4;
  font-size: 0.8rem;
}

.summary ul li ul li .order {
  flex-flow: row wrap;
  padding: 1rem 0 0;
  counter-reset: activityOrder;
}

.summary ul li ul li .order::before {
  /* content: "Activity Order"; */
  margin: 0 0 1rem;
  display: inline-block;
  font-size: 0.8rem;
}

.summary ul li ul li .order li {
  flex-basis: 100%;
  margin: 0 0 0.4rem 2.4rem;
  position: relative;
}

.summary ul li ul li .order li::before {
  counter-increment: activityOrder;
  content: counter(activityOrder);
  position: absolute;
  top: 0;
  left: -1.6rem;
  line-height: 1.4;
  font-size: 0.8rem;
}

.summary ul li .items {
  flex-flow: row wrap;
}

.summary ul li .items li {
  margin: 0 0 0.4rem 2.4rem;
  position: relative;
  line-height: 1.4;
  font-size: 0.8rem;
}

.summary ul li .items li .image {
  left: -1.6rem;
  top: 0;
  width: 1rem;
  height: 100%;
}

.summary ul li .items li:first-child {
  flex-basis: 100%;
}

.featured[data-kind=nightfall] .text h2::before {
  content: "Nightfall Strike";
  position: absolute;
  left: 0;
  top: -2rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: initial;
}

.featured[data-kind="faction_rally"] .image {
  background-position-x: left;
}

.featured[data-kind="iron_banner"] .image {
  background-position-x: left;
  filter: brightness(1);
}



@media screen and (max-width: 500px) {

/* header ul {
  position: initial;
  left: initial;
} */

header a {
  color: rgba(var(--light), 1);
}

.featured {
  position: absolute;
  height: 70vh;
  width: 100vw;
}

.featured .text {
  left: 2rem;
}

.featured .text h2 {
  font-size: 2.4rem;
}

.featured .text p {
  width: calc(100vw - 4rem);
}

.featured .challenges li p {
  width: calc(100vw - 6rem);
}

.summary {
  top: 70vh;
  left: 0;
  width: 100vw;
  min-height: initial;
}

.summary .header {
  padding: 2rem;
}

.summary > ul {
  padding: 1rem 2rem 2rem;
}

.featured[data-kind="faction_rally"] .image {
  background-position-x: 37%;
}

}